.idea/
*.iml
.DS_Store
.env
node_modules/
dist/
build/
target/
.vscode/

# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/
*.log


ai/generate_rag/legal-e5-finetuned.zip
ai/generate_rag/legal-e5-finetuned/
ai/generate_rag/current_laws.json
ai/generate_rag/scheduled_laws.json
ai/generate_rag/tmp/
ai/generate_rag/chroma_data/
ai/generate_rag/chroma_legal_db/
ai/generate_rag/legal-e5-finetuned/
ai/generate_rag/startup_legal_rag/
ai/generate_rag/yanolja_analysis/
ai/embedding-finetuning.zip
ai/generate_rag/판례테스트.py
ai/generate_rag/jsonl_exports.tar.gz
ai/generate_rag/current_laws.json
ai/generate_rag/scheduled_laws.json
ai/generate_rag/precedent_list.json
ai/generate_rag/precedent_list_raw_page1.json